/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    
    
}

.button{
    
}
.settingsAnchorPane{
    -fx-spacing: 10;
}

.settingsCategorySelector{
    -fx-border-color: black;
    -fx-background-color: transparent;
    -fx-hbar-policy: never;
    -fx-alignment: CENTER;
}

.settingsCategorySelectorVBOX{
    -fx-alignment: TOP_CENTER;
    -fx-padding: 5;
    -fx-spacing: 10;
}

.settingsCategorySelectorButtons{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-border-style: none;
}

.settingsOptionsPane{
    -fx-hbar-policy: never;
}

.settingsGridPane{
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 10;
    
}

.fileDisplayVBox{
    -fx-spacing: 3;
}

.fileDisplayScrollPane{
    -fx-border-radius: 5;
}

.fileDisplayItem{
    -fx-background-color: 
        #cc0000,
        linear-gradient(#cc0000, #690000);
    -fx-background-insets: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 2;
}
.fileDisplayItemProcessed{
    -fx-background-color: 
        #69ffbc,
        linear-gradient(#69ff86, #69ff00);
    -fx-background-insets: 2;
    -fx-border-radius: 5;
    -fx-border-color: black;
    -fx-border-width: 2;
}